[Desktop Entry]
Categories=Utility;
Comment[en_US]=Mouse & Keyboard sharing via LAN
Comment=Mouse & Keyboard sharing via LAN
Comment[de_DE]=Maus- und Tastaturfreigabe über LAN
Exec=/home/pc/.local/bin/lan-mouse-launcher
TryExec=/home/pc/.local/bin/lan-mouse
Icon=de.feschber.LanMouse
Name[en_US]=Lan Mouse
Name=Lan Mouse
StartupNotify=true
Terminal=false
Type=Application
